In [1]:
import pandas as pd

In [3]:
pd.Series(["M","F","M","F","F"])

0    M
1    F
2    M
3    F
4    F
dtype: object

In [6]:
import numpy as np
pd.Series(np.array(["M","F","M","F","F"]))

0    M
1    F
2    M
3    F
4    F
dtype: object

In [7]:
import numpy as np
gen=pd.Series(np.array(["M","F","M","F","F"]))

In [8]:
type(gen)

pandas.core.series.Series

In [9]:
dic={"a":1,"b":2,"c":3,"d":4}
dic_1=pd.Series(dic)

In [10]:
type(dic_1)

pandas.core.series.Series

In [11]:
dic_1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
dic_1.values

array([1, 2, 3, 4])

In [15]:
list_1=["2023-1-24","Sonali",1000,True]
sr=pd.Series(list_1)

In [16]:
sr

0    2023-1-24
1       Sonali
2         1000
3         True
dtype: object

In [17]:
sr.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
df=pd.DataFrame({"Name":["Sonali","Sanket","Sushma","Sushil"],"Age":[22,23,25,28],"Sex":["F","M","F","M"]})
df

     Name  Age Sex
0  Sonali   22   F
1  Sanket   23   M
2  Sushma   25   F
3  Sushil   28   M

In [24]:
type(df["Age"])

pandas.core.series.Series

In [25]:
df.columns

Index(['Name', 'Age', 'Sex'], dtype='object')